<configuration>

    <!-- Console Appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %cyan(%d{yyyy-MM-dd HH:mm:ss.SSS}) [%thread] %highlight(%-5level) %magenta(%logger{36}) - %highlight(%msg%n%throwable)
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- Rolling File Appender for latest.log -->
    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/latest.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/log.%d{yyyy-MM-dd}.zip</fileNamePattern>
            <maxHistory>365</maxHistory> <!-- Number of days to keep -->
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS};[%thread];%-5level;%logger{36};%msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="n.d.j.internal.audio.AudioWebSocket" level="INFO"/>

    <!-- Logger for the de.quantum package -->
    <logger name="de.quantum" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="ROLLING" />
    </logger>

    <!-- Root Logger -->
    <root name="rootDebug" level="DEBUG">
        <appender-ref ref="ROLLING" />
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
